jaxb/src/test/resources/ping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ping" type="PingType"/>
  <xs:complexType name="PingType">
    <xs:sequence>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>